# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [3]:
dataset = pd.read_csv('datasets/Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1]
y = dataset.iloc[:, -1]

In [4]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

### Encoding categorical data

Label Encoding the "Gender" column

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X.loc[:, 'Gender'] = le.fit_transform(X.loc[:, 'Gender'])

One Hot Encoding the "Geography" column

In [7]:
# Get one hot encoding of column 'Geography'
one_hot = pd.get_dummies(X['Geography'])
# Drop column as it is now encoded
X = X.drop('Geography',axis = 1)
# Join the encoded df
X = X.join(one_hot)

In [8]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1

### Splitting the dataset into the Training set and Test set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size = 0.2, random_state = 0)

### Feature Scaling

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

### Initializing the ANN

In [11]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [12]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the output layer

In [13]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [14]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [16]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 0s 675us/step - loss: 0.3814 - accuracy: 0.8349
Epoch 2/100
250/250 [==============================] - 0s 617us/step - loss: 0.3815 - accuracy: 0.8369
Epoch 3/100
250/250 [==============================] - 0s 656us/step - loss: 0.3814 - accuracy: 0.8365
Epoch 4/100
250/250 [==============================] - 0s 647us/step - loss: 0.3811 - accuracy: 0.8366
Epoch 5/100
250/250 [==============================] - 0s 649us/step - loss: 0.3813 - accuracy: 0.8365
Epoch 6/100
250/250 [==============================] - 0s 636us/step - loss: 0.3808 - accuracy: 0.8363
Epoch 7/100
250/250 [==============================] - 0s 653us/step - loss: 0.3811 - accuracy: 0.8351
Epoch 8/100
250/250 [==============================] - 0s 660us/step - loss: 0.3808 - accuracy: 0.8370
Epoch 9/100
250/250 [==============================] - 0s 642us/step - loss: 0.3807 - accuracy: 0.8366
Epoch 10/100
250/250 [==============================] - 0s 658us/step - loss: 0.3807 - accuracy: 0.8379
Epoch 11/100
250/250 [==============================] - 0s 735us/step - loss: 0.3807 - accuracy: 0.8364
Epoch 12/100
250/250 [==============================] - 0s 707us/step - loss: 0.3807 - accuracy: 0.8350
Epoch 13/100
250/250 [==============================] - 0s 699us/step - loss: 0.3805 - accuracy: 0.8363
Epoch 14/100
250/250 [==============================] - 0s 820us/step - loss: 0.3804 - accuracy: 0.8365
Epoch 15/100
250/250 [==============================] - 0s 648us/step - loss: 0.3806 - accuracy: 0.8366
Epoch 16/100
250/250 [==============================] - 0s 637us/step - loss: 0.3807 - accuracy: 0.8363
Epoch 17/100
250/250 [==============================] - 0s 669us/step - loss: 0.3804 - accuracy: 0.8344
Epoch 18/100
250/250 [==============================] - 0s 640us/step - loss: 0.3802 - accuracy: 0.8372
Epoch 19/100
250/250 [==============================] - 0s 674us/step - loss: 0.3803 - accuracy: 0.8370
Epoch 20/100
250/250 [==============================] - 0s 669us/step - loss: 0.3800 - accuracy: 0.8360
Epoch 21/100
250/250 [==============================] - 0s 640us/step - loss: 0.3803 - accuracy: 0.8357
Epoch 22/100
250/250 [==============================] - 0s 656us/step - loss: 0.3802 - accuracy: 0.8366
Epoch 23/100
250/250 [==============================] - 0s 748us/step - loss: 0.3799 - accuracy: 0.8369
Epoch 24/100
250/250 [==============================] - 0s 790us/step - loss: 0.3799 - accuracy: 0.8361
Epoch 25/100
250/250 [==============================] - 0s 720us/step - loss: 0.3798 - accuracy: 0.8360
Epoch 26/100
250/250 [==============================] - 0s 840us/step - loss: 0.3801 - accuracy: 0.8376
Epoch 27/100
250/250 [==============================] - 0s 720us/step - loss: 0.3795 - accuracy: 0.8366
Epoch 28/100
250/250 [==============================] - 0s 671us/step - loss: 0.3798 - accuracy: 0.8359
Epoch 29/100
250/250 [==============================] - 0s 695us/step - loss: 0.3793 - accuracy: 0.8363
Epoch 30/100
250/250 [==============================] - 0s 751us/step - loss: 0.3795 - accuracy: 0.8357
Epoch 31/100
250/250 [==============================] - 0s 742us/step - loss: 0.3793 - accuracy: 0.8364
Epoch 32/100
250/250 [==============================] - 0s 875us/step - loss: 0.3795 - accuracy: 0.8371
Epoch 33/100
250/250 [==============================] - 0s 713us/step - loss: 0.3792 - accuracy: 0.8369
Epoch 34/100
250/250 [==============================] - 0s 675us/step - loss: 0.3793 - accuracy: 0.8367
Epoch 35/100
250/250 [==============================] - 0s 671us/step - loss: 0.3790 - accuracy: 0.8370
Epoch 36/100
250/250 [==============================] - 0s 739us/step - loss: 0.3789 - accuracy: 0.8370
Epoch 37/100
250/250 [==============================] - 0s 615us/step - loss: 0.3784 - accuracy: 0.8370
Epoch 38/100
250/250 [==============================] - 0s 576us/step - loss: 0.3789 - accuracy: 0.8376
Epoch 39/100
250/250 [==============================] - 0s 714us/step - loss: 0.3788 - accuracy: 0.8353
Epoch 40/100
250/250 [==============================] - 0s 656us/step - loss: 0.3787 - accuracy: 0.8363
Epoch 41/100
250/250 [==============================] - 0s 560us/step - loss: 0.3785 - accuracy: 0.8372
Epoch 42/100
250/250 [==============================] - 0s 655us/step - loss: 0.3782 - accuracy: 0.8375
Epoch 43/100
250/250 [==============================] - 0s 560us/step - loss: 0.3785 - accuracy: 0.8364
Epoch 44/100
250/250 [==============================] - 0s 729us/step - loss: 0.3784 - accuracy: 0.8367
Epoch 45/100
250/250 [==============================] - 0s 868us/step - loss: 0.3782 - accuracy: 0.8367
Epoch 46/100
250/250 [==============================] - 0s 650us/step - loss: 0.3781 - accuracy: 0.8356
Epoch 47/100
250/250 [==============================] - 0s 565us/step - loss: 0.3781 - accuracy: 0.8380
Epoch 48/100
250/250 [==============================] - 0s 661us/step - loss: 0.3776 - accuracy: 0.8367
Epoch 49/100
250/250 [==============================] - 0s 555us/step - loss: 0.3779 - accuracy: 0.8376
Epoch 50/100
250/250 [==============================] - 0s 591us/step - loss: 0.3779 - accuracy: 0.8370
Epoch 51/100
250/250 [==============================] - 0s 579us/step - loss: 0.3779 - accuracy: 0.8365
Epoch 52/100
250/250 [==============================] - 0s 581us/step - loss: 0.3779 - accuracy: 0.8357
Epoch 53/100
250/250 [==============================] - 0s 603us/step - loss: 0.3778 - accuracy: 0.8378
Epoch 54/100
250/250 [==============================] - 0s 577us/step - loss: 0.3777 - accuracy: 0.8384
Epoch 55/100
250/250 [==============================] - 0s 726us/step - loss: 0.3778 - accuracy: 0.8374
Epoch 56/100
250/250 [==============================] - 0s 772us/step - loss: 0.3776 - accuracy: 0.8360
Epoch 57/100
250/250 [==============================] - 0s 588us/step - loss: 0.3774 - accuracy: 0.8369
Epoch 58/100
250/250 [==============================] - 0s 595us/step - loss: 0.3773 - accuracy: 0.8366
Epoch 59/100
250/250 [==============================] - 0s 631us/step - loss: 0.3774 - accuracy: 0.8370
Epoch 60/100
250/250 [==============================] - 0s 612us/step - loss: 0.3772 - accuracy: 0.8363
Epoch 61/100
250/250 [==============================] - 0s 627us/step - loss: 0.3770 - accuracy: 0.8379
Epoch 62/100
250/250 [==============================] - 0s 583us/step - loss: 0.3768 - accuracy: 0.8363
Epoch 63/100
250/250 [==============================] - 0s 603us/step - loss: 0.3775 - accuracy: 0.8374
Epoch 64/100
250/250 [==============================] - 0s 718us/step - loss: 0.3772 - accuracy: 0.8382
Epoch 65/100
250/250 [==============================] - 0s 741us/step - loss: 0.3770 - accuracy: 0.8378
Epoch 66/100
250/250 [==============================] - 0s 622us/step - loss: 0.3770 - accuracy: 0.8341
Epoch 67/100
250/250 [==============================] - 0s 653us/step - loss: 0.3771 - accuracy: 0.8365
Epoch 68/100
250/250 [==============================] - 0s 582us/step - loss: 0.3768 - accuracy: 0.8363
Epoch 69/100
250/250 [==============================] - 0s 585us/step - loss: 0.3769 - accuracy: 0.8365
Epoch 70/100
250/250 [==============================] - 0s 604us/step - loss: 0.3770 - accuracy: 0.8369
Epoch 71/100
250/250 [==============================] - 0s 624us/step - loss: 0.3768 - accuracy: 0.8371
Epoch 72/100
250/250 [==============================] - 0s 625us/step - loss: 0.3768 - accuracy: 0.8359
Epoch 73/100
250/250 [==============================] - 0s 618us/step - loss: 0.3768 - accuracy: 0.8371
Epoch 74/100
250/250 [==============================] - 0s 616us/step - loss: 0.3770 - accuracy: 0.8367
Epoch 75/100
250/250 [==============================] - 0s 633us/step - loss: 0.3767 - accuracy: 0.8364
Epoch 76/100
250/250 [==============================] - 0s 598us/step - loss: 0.3768 - accuracy: 0.8384
Epoch 77/100
250/250 [==============================] - 0s 603us/step - loss: 0.3768 - accuracy: 0.8371
Epoch 78/100
250/250 [==============================] - 0s 636us/step - loss: 0.3765 - accuracy: 0.8356
Epoch 79/100
250/250 [==============================] - 0s 632us/step - loss: 0.3764 - accuracy: 0.8364
Epoch 80/100
250/250 [==============================] - 0s 659us/step - loss: 0.3762 - accuracy: 0.8374
Epoch 81/100
250/250 [==============================] - 0s 667us/step - loss: 0.3765 - accuracy: 0.8378
Epoch 82/100
250/250 [==============================] - 0s 601us/step - loss: 0.3764 - accuracy: 0.8357
Epoch 83/100
250/250 [==============================] - 0s 629us/step - loss: 0.3761 - accuracy: 0.8397
Epoch 84/100
250/250 [==============================] - 0s 724us/step - loss: 0.3762 - accuracy: 0.8371
Epoch 85/100
250/250 [==============================] - 0s 671us/step - loss: 0.3764 - accuracy: 0.8380
Epoch 86/100
250/250 [==============================] - 0s 644us/step - loss: 0.3762 - accuracy: 0.8374
Epoch 87/100
250/250 [==============================] - 0s 650us/step - loss: 0.3760 - accuracy: 0.8374
Epoch 88/100
250/250 [==============================] - 0s 616us/step - loss: 0.3763 - accuracy: 0.8384
Epoch 89/100
250/250 [==============================] - 0s 655us/step - loss: 0.3763 - accuracy: 0.8363
Epoch 90/100
250/250 [==============================] - 0s 662us/step - loss: 0.3764 - accuracy: 0.8361
Epoch 91/100
250/250 [==============================] - 0s 673us/step - loss: 0.3763 - accuracy: 0.8369
Epoch 92/100
250/250 [==============================] - 0s 645us/step - loss: 0.3764 - accuracy: 0.8365
Epoch 93/100
250/250 [==============================] - 0s 697us/step - loss: 0.3760 - accuracy: 0.8366
Epoch 94/100
250/250 [==============================] - 0s 652us/step - loss: 0.3763 - accuracy: 0.8364
Epoch 95/100
250/250 [==============================] - 0s 690us/step - loss: 0.3761 - accuracy: 0.8371
Epoch 96/100
250/250 [==============================] - 0s 838us/step - loss: 0.3757 - accuracy: 0.8369
Epoch 97/100
250/250 [==============================] - 0s 683us/step - loss: 0.3760 - accuracy: 0.8359
Epoch 98/100
250/250 [==============================] - 0s 653us/step - loss: 0.3758 - accuracy: 0.8361
Epoch 99/100
250/250 [==============================] - 0s 685us/step - loss: 0.3757 - accuracy: 0.8367
Epoch 100/100
250/250 [==============================] - 0s 632us/step - loss: 0.3759 - accuracy: 0.8357

## Part 4 - Making the predictions and evaluating the model

### Predicting the Test set results

In [18]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Making the Confusion Matrix

In [19]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1534   61]
 [ 250  155]]

0.8445